html, body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
.m-page-wrapper{
    width:100%;
    height:100%;
}
.m-page-wrapper > .m-page-header{
    position: fixed;
    top:0;
    width: 100%;
    height:50px;
    background-color: #1b6d85;
    display: flex;
    align-items: center;
}
.m-page-wrapper > .m-page-body{
    height:calc(100% - 50px);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.m-page-header > ul{
    margin:0;
    list-style-type: none;
}
.m-page-header > ul > li{
    margin-right: 10px;
    display: inline;
}
.m-page-header > ul > li > a{
    color: white !important;
}
/*=---------Angular table-------=*/
.my-header-template{
    border:1px solid black;
}