<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="r in $ctrl.table_data">
        <td>{{r.id}}</td>
        <td>{{r.name}}</td>
        <td>{{r.age}}</td>
    </tr>
    </tbody>
</table>
<button ng-click='$ctrl.testAdd()'>Add</button>