<div>
        <h1>Home</h1>
<ap-mesa
        options="my_table_options"
        columns="my_table_columns"
        rows="my_table_data">
</ap-mesa>
<button ng-click="test()">{{buttonName}}</button>
        <button ng-click="changeColumn()">Change column</button>
</div>